1. User must be able to search for stocks, see stock information and stock prices:
 1.1. User can see a chart showing stock price between different periods (1 day, 1 week, 1 month, 1 year, 5 years);
 1.2. User must be able to see stock name, ticker and current stock price;
2. User must have a balance of site-specific currency (leefs);
3. User must be able to buy or sell stocks with said balance;
4. Stock prices must be based on live real world prices (1 leef ~ 1 dollar);
5. User must be able to see his open positions;
6. User must have the ability to see his transaction history;
7. User must have a way to increase the account balance (e.g. money deposit, watch an ad);
(FUTURE IMPLEMENTATION)
8. User can only trade stocks in a specific market within the working hours of the market;